@model Placium.WebApp.Models.FiasSelectModel
@{
    ViewData["Title"] = "ФИАС";
}

<h1>ФИАС</h1>

@using (Html.BeginForm())
{
    @Html.ListBox("previous", Model.PreviousItems)
    <br />
    @Html.DropDownList("guid", Model.NextItems)
    <br />
    <input type="submit" value="Выбрать" class="btn btn-primary" />
}