@{
    ViewData["Title"] = "Seeker";
}

<h1>Seeker</h1>

@using (Html.BeginForm(method: FormMethod.Post))
{
    <label>Широта, Долгота (через запятую)</label>
    @Html.TextBox("coords")
    <br />
    <input type="submit" value="Выбрать" class="btn btn-primary" />
}