@{
    ViewData["Title"] = "Seeker";
}

<h1>Seeker</h1>

@using (Html.BeginForm(method: FormMethod.Post))
{
    @Html.TextBox("addr")
    @Html.TextBox("housenumber")
    <br />
    <input type="submit" value="Выбрать" class="btn btn-primary" />
}