@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>QueryTools is designed to perform queries in the Sphinx Search or Manticore Search using the MySQL adapter.</p>
    <ul class="text-justify">
        <li><a href="http://sphinxsearch.com/" target="_blank">Sphinx</a> is an open source full text search server, designed from the ground up with performance, relevance (aka search quality), and integration simplicity in mind. It's written in C++ and works on Linux (RedHat, Ubuntu, etc), Windows, MacOS, Solaris, FreeBSD, and a few other systems.</li>
        <li><a href="https://manticoresearch.com/" target="_blank">Manticore Search</a> was born in 2017 as a continuation of Sphinx Search (which started in 2001). We took the best from Sphinx (C++ core and focus on low level data structures and fine-tuned algorithms), added more functionality, fixed tons of bugs, made it easier to use, kept it open source and made Manticore Search even more lightweight & extremely fast full-text search engine.</li>
    </ul>
</div>