@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var session = ViewBag.Session;
}

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm())
{
    <label>@ViewBag.Label</label>
    <br/>
    <label>Полное обновление</label>
    <input type="checkbox" id="full" name="full"/>
    <br/>
    <input type="hidden" id="session" name="session" value="@session"/>
    <button type="button" class="btn btn-info" onclick="uploadForm();">Отправить</button>
}
<br/>
<br/>
<div id="progresses"></div>

<script type="text/javascript" charset="utf-8">
    function uploadForm() {
        var formData = new FormData();
        var session = document.getElementById("session");
        var full = document.getElementById("full");
        formData.append("session", session.value);
        formData.append("full", full.checked);

        $.ajax(
            {
                url: "@ViewBag.UploadLink",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                type: "POST",
            }
        );
    };

    (function() {
        var hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/progress")
            .withAutomaticReconnect()
            .build();

        var appendProgress = function(id) {
            $("#progresses").append('<div id="' +
                id +
                '" class="progress"><div id="progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"> \
                <div id="label" class="control-label">0%</div> \
                </div></div>');
        };

        hubConnection.on("Progress",
            function(progress, id, session) {
                if (session !== '@session') return;
                if (!$('#' + id).length) appendProgress(id);
                $('#' + id + ' #progress').css({ width: progress + "%" });
                $('#' + id + ' #label').html(progress.toFixed(1) + "%");
            });

        hubConnection.on("Init",
            function(id, session) {
                if (session !== '@session') return;
                if (!$('#' + id).length) appendProgress(id);
            });

        hubConnection.on("Complete",
            function(session) {
                if (session !== '@session') return;
                alert("Complete");
            });

        hubConnection.on("Error",
            function(message, session) {
                if (session !== '@session') return;
                alert(message);
            });

        hubConnection.start();
    })();

</script>